.font-menu {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
  }
  .font-top {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 80px;
    font-style: normal;

  }
  .font-footer{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
  }
  .font-poster-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 29.52px;
    font-style: normal;
  }
  .font-poster-rating{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20.5px;
    font-style: normal;
  }
  .font-search-buttom {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
  }
  .font-search-input {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
  }
  .font-basic-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 48px;
    font-style: normal; 
  }  
  .font-basic-text{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal; 
  }
  .font-main-films-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 64px;
    font-style: normal; 
  }
  .font-search-parameters{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
    font-style: normal; 
  }
  .font-select-option{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    font-style: normal; 
  }
  .font-main-films-count-list{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal; 
  }
  .font-movie-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 64px;
    font-style: normal; 
    margin: 0;
    padding: 0;
  }
  .font-movie-about-film{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 36px;
    font-style: normal; 
    margin: 0;
    padding: 0;
  }
  .font-movir-info{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal; 
  }
  .font-trailer-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 36px;
    font-style: normal; 
  }
  .font-stills-film-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 36px;
    font-style: normal; 
  }
  .font-reviews-film-title{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  .font-reviews-text{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  .font-reviews-autor{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    margin: 0;
    padding: 0;
  }